In [41]:
# import some library we are gonna use
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn
import sklearn.preprocessing as pre

In [42]:
df = pd.read_csv('data/cpu_performance/machine.data')
df.head()

    vendor     name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0  adviser    32/60   125   256   6000   256     16    128  198  199
1   amdahl   470v/7    29  8000  32000    32      8     32  269  253
2   amdahl  470v/7a    29  8000  32000    32      8     32  220  253
3   amdahl  470v/7b    29  8000  32000    32      8     32  172  253
4   amdahl  470v/7c    29  8000  16000    32      8     16  132  132

In [43]:
df.iloc[:, 0] = pre.LabelEncoder().fit_transform(df.iloc[:, 0])
df.iloc[:, 1] = pre.LabelEncoder().fit_transform(df.iloc[:, 1])

In [44]:
X, y = df.iloc[:, :-2], df.iloc[:, -2]
X, y = np.array(X), np.array(y)

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [46]:
# compute the mean and std for feature
f_mean, f_std = np.mean(X_train, axis=0), np.std(X_train, axis=0)
X_train = (X_train - f_mean) / f_std
X_test = (X_test - f_mean) / f_std

l_mean, l_std = np.mean(y_train, axis=0), np.std(y_train, axis=0)
y_train = (y_train - l_mean) / l_std

In [47]:
# Concatenate X with a new dimension for bias
X_train = np.concatenate((np.ones((X_train.shape[0], 1)), X_train), axis=1)
X_test = np.concatenate((np.ones((X_test.shape[0], 1)), X_test), axis=1)

In [48]:
theta = np.zeros((X_train.shape[1]))
for epoch in range(1000):
    # forward pass
    pred = np.dot(X_train, theta)
    loss = np.sum((pred - y_train) ** 2) / (2*X_train.shape[0])
    
    # backward pass
    gradient = np.array([np.dot((pred - y_train), X_train[:, i]) 
                         for i in range(X_train.shape[1])]) / X_train.shape[1]
    theta = theta - 0.01 * gradient
    
    if epoch % 50 == 0:
        print('loss:', loss)

loss: 0.5
loss: 0.08215605620297678
loss: 0.0820622411099018
loss: 0.08205863233914082
loss: 0.08205846874335611
loss: 0.08205846128645763
loss: 0.08205846094650066
loss: 0.08205846093100207
loss: 0.0820584609302955
loss: 0.08205846093026327
loss: 0.08205846093026181
loss: 0.08205846093026176
loss: 0.08205846093026176
loss: 0.08205846093026174
loss: 0.08205846093026174
loss: 0.08205846093026177
loss: 0.08205846093026177
loss: 0.08205846093026174
loss: 0.08205846093026174
loss: 0.08205846093026174

In [49]:
pred = np.dot(X_test, theta)

In [50]:
((y_test - ((pred * l_std) + l_mean)) ** 2).mean()

4364.295904817823